*{
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fcf5e1;
 }

.header{
margin: 0px;
border: 0px;
background-color: #3BDCC6;
display: flex;
justify-content:flex-end;
align-items: center;

}

h1{
    padding: 10px;
    margin-right:10px;
}

.headerimg{
    margin-right:auto;
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color:black;
    padding: 10px;
    justify-content: center;
    
}


.headerimg{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.main{
    display:flex;
    flex-direction:column;
    border: 5px #f58442;
    flex-basis:1;
}

.mainbox1{
    border:5px solid #f58442;
    padding: 10px;
    height: auto;
    width: stretch;
    display: flex;
    flex-direction:row;
}

.mainbox1 p{
    padding-left:2%;
    padding-right:5%;
    max-width: 80%;
}

.mainbox2 {
    border:5px solid #f58442;
    display: flex;
    flex-wrap: wrap;
    
  }
  
.mainbox2 h2 {
    width: 100%;
    padding: 10px;
}

.application1{
    border:5px solid #f58442;  
    flex: 1 1 100%;
    padding: 20px;
}

.application{
        border:5px solid #f58442;
    flex: 1 1 40%;
    padding: 20px; 
   }
    

  .project {
    /* flex: 1 0 200px;  */
    justify-content: center;
    display: flex;  
    flex-direction: column;
  }
  
  .project img {
    max-width: 95%;
    height: auto;
    align-self: center;    
  }

  .project p {
    width: 100%;
    text-align: center;
  }

  
@media screen and (max-width: 768px) {
    .mainbox2 {
        flex-direction: column;
    }
    
    .application .project img {
        max-width: 60%;

      }
}
