*{
    font-family:Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #fcf5e1;
 }

.header{
margin: 0px;
border: 0px;
background-color: #3BDCC6;
display: flex;
justify-content:flex-end;
align-items: center;

}

h1{
    padding: 10px;
    margin-right:10px;
}

.headerimg{
    margin-right:auto;
}

.navbar{
    display: flex;
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color:black;
    padding: 10px;
    justify-content: center;
    
}


.headerimg{
    height: 60px;
    width: 60px;
    border-radius: 10px;
}

.main{
    display:flex;
    flex-direction:column;
    border: 5px #f58442;
    flex-basis:1;
}

.mainbox1{
    border:5px solid #f58442;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    width: stretch;
    display: flex;
    flex-direction:row;
}

.mainbox1 p{
    padding-left:2%;
    padding-right:5%;
    max-width: 80%;
}

.mainbox2{
    border:5px solid #f58442;
    border-radius: 10px;
    height: auto;
    width: stretch;
    display: flex;
    /*flex-grow: 2;*/
    flex-direction: row;
    flex-wrap:wrap;
    
}

.mainbox2 h2{
    padding-top: 4%;
    padding-left:2%;
    padding-right:2%;
    max-width: 30%;
}

.mainbox2 div{
    display:flex;
    max-width: 60%;
    justify-content: flex-end;
}

.mainbox2 div a{
    display: flex;
    max-width: 60%;
    margin: 0;
    flex-shrink: 1;
}


.mainbox3{
    border:5px solid #f58442;
    border-radius: 10px;
    height: auto;
    width: stretch;
    display:flex;
    flex-wrap: wrap;
}
.mainbox3 h2{
    padding-top: 4%;
    padding-left: 2%;
    max-width: 20%;
    height: 100%;
    margin-right: 2%;
}

.linkbox{
     max-width: 80%;
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;

.linkbox .delta {
    max-width: 40%;
    /* max-height: auto; */
    margin: 2%;
    flex: 1 1 0; 
}  

.linkbox .google {
    max-width: 40%;
    /* max-height: auto; */
    margin: 2%;
    flex: 1 1 0;
}

.linkbox .comingsoon{
    max-width: 40%;
    /* max-height: auto; */
    margin: 2%;
    flex: 1 1 0;
}

.mainbox4{
    border:5px solid #f58442;
    border-radius: 10px;
    height: auto;
    width: stretch;
    flex-grow: 1;
}
.mainbox4 h2{
    padding-top: 4%;
    max-width: 20%;
}

.link2{
    max-width: 50%;
    max-height: auto;
    padding: 5%;
    flex-direction:column;
}

.link2 p{
align-content:center;
}
